{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_course') }}" method=post class=add-entries>
      <dl>
        <dt>Title:
	<dd><input type=text size=30 name=name>
	<dt>Total_hours:
	<dd><input type=number name=Total_hours>
	<dd><input type=submit value=Create>
      </dl>
  {% endif %}
  <ul>
  <table>
  <tr>
    <th> CourseID </th>
    <th> Course </th>
    <th> Total hours </th>
  </tr>
  {% for course in courses %}
    <tr>
      <td>{{ course.CourseID }}</td>
      <td><a href="{{ url_for('course', CID = course.CourseID) }}"> {{ course.name }}</a></td>
      <td>{{ course.Total_hours }}</td>
    </tr>
  {% else %}
    <li><em>Unbelievable.  No courses here so far</em>
  {% endfor %}
  </table>
  </ul>
  {% endblock %}
